:root {
  --dark: #333;
  --light: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

.container {
  margin: auto;
  display: grid;
  gap: 25px;
  width: 90%;
  max-width: 1300px;
}

/* Navigation */
.menu-btn {
  display: none;
  position: absolute;
  top: 12px;
  right: 40px;
  cursor: pointer;
  z-index: 2;
}

.main-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav img {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  padding: 0 1.1rem;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.main-nav a {
  padding-bottom: 2px;
}

.main-nav a:hover {
  border-bottom: 2px solid #333;
}

/* Showcase */
.showcase {
  color: var(--light);
  width: 100%;
  background-image: url(./img/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4rem;
}

.showcase h2,
p,
a {
  margin-bottom: 1.1rem;
}

.showcase h2 {
  font-size: 2.4rem;
  margin-bottom: 0;
  font-weight: 600;
}

.showcase p {
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}

.showcase a {
  display: block;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  background-color: var(--dark);
  color: var(--light);
  font-weight: 600;
}

/* Home Card */
.home-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.home-cards img {
  width: 100%;
  margin-bottom: 14px;
}

.home-cards h3 {
  margin-bottom: 10px;
}

.home-cards p {
  font-size: 1.1rem;
}

.home-cards a {
  font-size: 1.2rem;
  color: brown;
  font-weight: 600;
}

.home-cards a:hover i {
  margin-left: 8px;
}

/* Xbox */
.xbox {
  width: 100%;
  padding: 2.5em 0 0 1em;
  height: 300px;
  background-image: url(./img/bruce-tang-nKO_1QyFh9o-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.xbox .inner {
  width: 40%;
  background-size: cover;
}

.inner h2 {
  color: var(--dark);
}

.inner p {
  color: var(--dark);
  font-size: 1.1rem;
  margin: auto;
  margin-bottom: 10px;
}

.inner a {
  display: block;
  padding: 4px;
  width: 120px;
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--light);
  font-weight: 600;
  text-align: center;
}

/* Carbon */
.carbon {
  height: 400px;
  width: 100%;
  background-image: url("./img/szabolcs-toth-_obbwqNqVBQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.carbon .content {
  color: var(--light);
  width: 55%;
  padding: 100px 0 0 20px;
}

.carbon .content a {
  display: block;
  width: 150px;
  box-sizing: border-box;
  padding: 1rem 1.3rem;
  background-color: var(--dark);
  color: var(--light);
  font-weight: 600;
  text-align: center;
}

.carbon .content p {
  margin: 20px 0;
}

/* Follow */
.follow {
  margin: 30px 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.follow * {
  margin-right: 10px;
}

/* Links */
.link {
  background: #eee;
  padding: 35px 0;
  font-size: 12px;
}

.link .links-inner {
  padding: 10px 20px;
  margin: 0 auto;
  display: grid;
  max-width: 1400px;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  align-items: flex-start;
  justify-content: center;
}

.link .links-inner ul {
  padding-left: 30px;
}

.link li {
  line-height: 2.8;
}

.links-inner li h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Footer */
.footer {
  background: #eee;
  font-size: 12px;
  padding: 20px 0;
}

.footer .footer-inner {
  padding: 10px 40px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer .footer-inner i {
  margin-right: 10px;
}

.footer-inner ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 35px;
}
.footer-inner li {
  margin-right: 10px;
}

/* Media Queries */
@media (max-width: 860px) {
  /* Nav */
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-menu {
    width: 60%;
    height: 100%;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
    opacity: 0.8;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  /* Home Card */
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-cards h3 {
    font-size: 1rem;
  }

  .home-cards p {
    font-size: 0.9rem;
  }

  .home-cards a {
    font-size: 0.8rem;
    font-weight: 600;
  }

  /* Xbox */
  .xbox p {
    display: none;
  }

  .xbox .inner h2 {
    margin-bottom: 15px;
  }

  /* Links */
  .link .links-inner {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Footer */
  .footer .footer-inner ul {
    justify-content: flex-start;
  }
}
